body {
    background-color: lightgrey;
    font-size: 20px;
    /* text-align: center; */
}

h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 75px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

p1 {
    font-family: Arial, Helvetica, sans-serif;
}

label {
    font-family: Arial, Helvetica, sans-serif;
}

ol {
    list-style-position: inside;
}

.underline {
    text-decoration: underline;
}

input[type=submit] {
    padding: 5px 15px;
    margin-left: 40px;
    /* background: rgb(209, 207, 207); */
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 18px;
}

input[type=submit]:hover {
    background: grey;
}

.signature {
    font-size: 16px;
    color: red;
    font-style: italic;
}

.dropdown {
    font-size: 16px;
}