/* Style sheet
   color picker www.w3schools.com/colors/colors_picker.asp
*/


/* Bootstrap default font-family is Helvetica Neue */

h1 {
    font-family: "Times New Roman", Times, serif;
    text-shadow: 3px 3px 1px black;
}

.gold-theme {
    color: rgb(167, 107, 29);
    font-size: large;
}

.btn-gold-theme {
    background-color: rgb(167, 107, 29);
    font-size: medium;
    color: white;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: rgb(167, 107, 29);
}

.border-3 {
    border-width: 3px !important;
}

.nav-pills .nav-link {
    color: rgb(167, 107, 29);
}