body {
    font-size: 20px;
    background-color: #dfdfdf;
    
}

h1 {
    font-family: Helvetica, sans-serif;
    font-size: 75px;
    text-align: center;
    border-bottom: 1px solid hsl(0, 0%, 0%);

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  }

h5{
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    
}

p {
    font-family: Helvetica, sans-serif;
    text-align: center;
}

p1 {
    font-family: Helvetica, sans-serif;
}

label {
    font-family: Helvetica, sans-serif;
}

ol {
    list-style-position: inside;
}

.underline {
    text-decoration: underline;
}

input[type=submit] {
    padding: 5px 15px;
    margin-left: 40px;
    /* background: rgb(209, 207, 207); */
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 18px;
}

input[type=submit]:hover {
    background: grey;
}

.signature {
    font-size: 16px;
    color: red;
    font-style: italic;
}

.dropdown {
    font-size: 16px;
}

.current{
    color:#fff!important;
    background-color:#751d1d!important
}